/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



/*===================ANIMACION DE ENCABEZADO==========================*/

header p {
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 60%;
      width: 700%
    }
  
    to {
      margin-left: 0%;
      width: 37%;
    }
  }


/*===================MENU==========================*/

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font-size: 18px;
}


/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    width: 100%;
    max-block-size: 480px;
}


/*=========================INTRO================================*/

#intro {
    padding-top: 250px !important;
}


/*=========================BIOGRAFIA================================*/

#bioTitulo {
    padding-top: 200px !important;
    padding-bottom: 50px !important;
    text-align: center;
}

#bio {
    padding-top: 50px;
}

#bio1 {
    text-align: center;
    padding-bottom: 50px !important;
}

#bio2 {
    text-align: center;
    padding-bottom: 50px !important;
}

#bio3 {
    text-align: center;
}

.h3DeBiografia {
    padding-bottom: 25px;
}

.parrafosDeBiografia {
    padding-top: 25px;
}

/*=========================RECOMENDACIONES================================*/

#recomendaciones {
    padding-top: 130px !important;
    padding-bottom: 80px !important;
}
#textoRecomendaciones {
    width: 100%;
    height: 100px;
}
#alertaEnviadoBtn {
    width: 200px;
}

/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 50px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 25px;
    padding: 0 8px;
    color: #f3f3f3;
}


/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/


/*=========================MEDIA QUERIES PANTALLA SM================================*/

@media (max-width: 768px) {
    header p {
        animation-duration: 3s;
        animation-name: slidein;
    }
    
    @keyframes slidein {
        from {
          margin-left: 35%;
          width: 700%
        }
      
        to {
          margin-left: 0%;
          width: 65%;
        }
    }
    .carousel-inner {
        width: 100%;
        max-block-size: 290px;
    }
    
    #intro {
        width: 90% !important;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
    #recomendaciones {
        width: 86% !important;
    }
    
}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    header p {
        animation-duration: 2s;
        animation-name: slidein;
    }
    
    @keyframes slidein {
        from {
          margin-left: 13%;
          width: 700%
        }
      
        to {
          margin-left: 0%;
          width: 87%;
        }
    }
    .carousel-inner {
        width: 100%;
        max-block-size: 200px;
    }
    #intro {
        padding-top: 250px !important;
    }
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    #iconos {
        padding-bottom: 10px;
    }
}


/*=========================SMALL QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 360px) {
    header {
        height: 30px;
        text-align: center !important;
    }
    
    #kj {
        font-size: small !important;
    }

    .carousel-inner {
        width: 100%;
        max-block-size: 450px;
    }
    
    #bioTitulo {
        padding-bottom: 0px !important;
    }   

}